apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - ServiceAccount_kafka-ca-admin.yaml
  - RoleBinding_kafka-ca-admin.yaml
  - Certificate_cert-issuer.yaml
  - Issuer_cert-issuer.yaml
  - Job_kafka-ca-admin.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: kafka-ca-admin
    behavior: create
    options:
      immutable: true
    files:
      - kafka-ca-admin.sh

patches:
  - path: Kafka_broker.merge.yaml

replacements:
  - source:
      kind: Kafka
      name: broker
      fieldPath: metadata.name
    targets:
      - select:
          kind: Certificate
          name: cert-issuer
        fieldPaths:
          - spec.commonName
        options:
          delimiter: ' '
          index: 0
