
cluster:
  name: broker
  authorization:
    type: simple
  listeners:
    - name: plain
      port: 9092
      type: internal
      tls: false
    - name: tls
      port: 9093
      type: internal
      tls: true
    - name: console
      port: 9094
      type: internal
      tls: true
      authentication:
        type: scram-sha-512
      networkPolicyPeers:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: kafka-console
  config:
    offsets.topic.replication.factor: 3
    transaction.state.log.replication.factor: 3
    transaction.state.log.min.isr: 2
    default.replication.factor: 3
    min.insync.replicas: 2
    config.providers: env
    config.providers.env.class: org.apache.kafka.common.config.provider.EnvVarConfigProvider


nodePools:
  - name: node-pool
    spec:
      replicas: 3
      roles:
        - controller
        - broker
      resources: 
        requests:
          memory: 256Mi
          cpu: 500m
        limits:
          memory: 1Gi
          cpu: "1"
      storage:
        type: ephemeral
# storage:
#   type: jbod
#   volumes:
#     - id: 0
#       type: persistent-claim
#       size: 10Gi
#       deleteClaim: false

topics:
  - name: test-topic
    spec:
      replicas: 3
      partitions: 12
  - name: other-topic
    spec:
      replicas: 3
      partitions: 6

users:
  - name: kafka-cli
    spec:
      authentication:
        type: tls
  - name: kafka-console
    spec:
      authentication:
        type: scram-sha-512

clientApp:
  namespace: kafka-client-app
  networkPolicy: {}
