apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: kafka-metrics
    behavior: create
    files:
      - kafka-metrics-config.yaml

patches:
  - path: Kafka_broker.merge.yaml

replacements:
  - source:
      kind: ConfigMap
      name: kafka-metrics
      fieldPath: metadata.name
    targets:
      - select:
          kind: Kafka
          name: broker
        fieldPaths:
          - spec.kafka.metricsConfig.valueFrom.configMapKeyRef.name
