
cluster:
  name: broker
  authorization:
    type: simple
  listeners:
    - name: plain
      port: 9092
      type: internal
      tls: false
    - name: tls
      port: 9093
      type: internal
      tls: true
  config:
    offsets.topic.replication.factor: 3
    transaction.state.log.replication.factor: 3
    transaction.state.log.min.isr: 2
    default.replication.factor: 3
    min.insync.replicas: 2


nodePools:
  - name: node-pool
    spec:
      replicas: 3
      roles:
        - controller
        - broker
      storage:
        type: ephemeral
# storage:
#   type: jbod
#   volumes:
#     - id: 0
#       type: persistent-claim
#       size: 10Gi
#       deleteClaim: false
# resources: 
#   requests:
#     memory: 256Mi
#     cpu: 500m
#   limits:
#     memory: 1Gi
#     cpu: "1"

topics:
  - name: test-topic
    spec:
      replicas: 3
      partitions: 12
  - name: other-topic
    spec:
      replicas: 3
      partitions: 6

clientApp:
  namespace: kafka-client-app
  networkPolicy: {}
